.result-table {
  margin-top: 0;
  height: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
  &_btns {
    margin-top: 1rem;
    display: flex;

    &_excel-export {
      margin-left: 1rem;
    }
  }

  .filter-icon {
    cursor: pointer;
  }
}

.q-table__top,
.q-table__bottom,
thead tr:first-child th {
  /* bg color is important for th; just specify one */
  background-color: #0e3997;
  color: white;
}

.q-btn .q-icon {
  color: white;
}
