html,
body,
#background {
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  /* background: #c997ff;
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, rgb(191, 131, 255), rgb(147, 186, 253)); */
}
