.login {
  background: url('../../assets/Real\ estate\ deals\ between\ agent\ and\ client\ shaking\ hands.jpg');
  background-size: 1140px;
  background-repeat: no-repeat;
  background-position-y: top left;
  background-position: center;
  background-color: white;
}

.card {
  background-color: rgb(16, 84, 84);
  box-shadow: 0 6px 6px -2px gray;
  position: relative;
  right: 0.5rem;
}
