.login {
  // background: url('../../assets/loginHouse.jgp');
  // background-size: 1140px;
  // background-repeat: no-repeat;
  // background-position-y: top left;
  // background-position: center;
  // background-color: white;

  .house {
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

.card {
  background-color: rgb(14, 79, 123);
  box-shadow: 0 6px 6px -2px gray;
  position: relative;
  right: 0.5rem;
  z-index: 100;
}
